.home-container {
  padding: 50px;
  /* text-align: center; */
}

.home-container h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: var(--text-color);
}

.events-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 cards in a row */
  gap: 20px;
  justify-items: center;
}


/* Responsive for smaller screens */
@media (max-width: 768px) {
  .events-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 cards in a row */
  }
}

@media (max-width: 480px) {
  .events-grid {
    grid-template-columns: 1fr; /* 1 card in a row */
  }
}
